# Node
node_modules/
dist/
dist-electron/
release/
.vite/

# Python
venv/
__pycache__/
*.pyc
*.spec
core/build/
core/dist/

# Build artifacts
build-tmp/
interface/resources/

# OS
.DS_Store

# Env
.env
*.log
